.btn-yellow {
    @apply px-6 py-3 rounded bg-yellow-400 text-black text-sm leading-4 font-bold whitespace-nowrap hover:bg-orange-400 focus:bg-orange-400 cursor-pointer;
}
.btn-red {
    @apply px-6 py-3 rounded bg-red-500 text-white text-sm leading-4 font-bold whitespace-nowrap hover:bg-red-700 focus:bg-red-700 cursor-pointer;
}
.btn-green {
    @apply bg-emerald-400 dark:bg-emerald-600 text-white p-2 px-4 rounded-xl text-center hover:bg-emerald-500 dark:hover:bg-emerald-700 cursor-pointer;
}
.btn-default {
    @apply bg-slate-400 dark:bg-slate-600 text-white p-2 px-4 rounded-xl text-center hover:bg-slate-500 dark:hover:bg-slate-700 cursor-pointer;
}
.btn-purple {
    @apply bg-indigo-600 text-white p-2 px-4 rounded-xl text-center hover:bg-indigo-700 cursor-pointer;
}
.btn-slate {
    @apply bg-slate-600 text-white p-2 px-4 rounded-xl text-center hover:bg-slate-700 cursor-pointer;
}
.btn-blue {
    @apply bg-sky-400 text-white p-2 px-4 rounded-xl text-center hover:bg-sky-600 cursor-pointer;
}

.btn-spinner,
.btn-spinner:after {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
}

.btn-spinner {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  border-bottom: 0.2em solid white;
  border-left: 0.2em solid transparent;
  transform: translateZ(0);
  animation: spinning 1s infinite linear;
}

@keyframes spinning {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
